<p style="color: green"><%= notice %></p>

<%= render 'item_component', item: @item, watchword_fe: @watchword_fe %>

<div class="text-center w-max-sm flex justify-center">
  <%= link_to "Edit", edit_item_path(@item), class: "text-gray-500 hover:underline" %> <span class="text-gray-300 mx-4">|</span><%= button_to "Delete", @item, method: :delete, class: "text-red-500 hover:underline" %>
</div>
